.rquote-content {
    margin: 10px;
    font-style: italic;
    padding: 10px;
    font-family: "Fira Code Light";
}

.rquote-quote {
    font-size: 50px;
    margin: 10px;
}

.rquote-author {
    font-size: 25px;
    margin: 10px;
}

.rquote-button {
    font-size: 23px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition-duration: 300ms;
}

.rquote-button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #c9c9c9;
}