.card-image{
    width: 266px;
    height: 36vh; 
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* padding: 0 !important; */
}
.card-body{
    width: 290px;
    height: 28vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 0 !important;
}

@media screen and (max-width:768px) {
    .card-image{
       height: 30vh;
       object-fit: cover;
    }
}