* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --clr: #ffffff;
}

.navbar-wrapper {
  height: 110px;
}
.navbar-root {
  margin-left: auto;
  margin-right: auto;
  top: 40px;
  background: var(--clr);

  position: relative;
  width: 400px;
  height: 70px;
  background: #88847e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.navbar-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 30%;
}

.navbar-heading img {
  height: 50px;
  width: 50px;
}

.navbar-heading h1 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
}

.navbar-root ul {
  display: flex;
  width: 350px;
  padding-left: 30px;
}

.navbar-root li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navbar-root ul li .navbar-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.nav-logo {
  display: flex;
  text-decoration: none;
}

.navbar-root ul li .navbar-item .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
  width: 48px;
  height: 48px;
}

.navbar-root ul li.active .navbar-item .icon {
  transform: translateY(-32px);
}

.navbar-root ul li .navbar-item .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navbar-root ul li.active .navbar-item .text {
  opacity: 1;
  transform: translateY(20px);
}

.indicator {
  @apply absolute top-[-60%] w-[70px] h-[70px] border-[white] dark:border-[#111827] transition-[0.5s] rounded-[50%] border-[6px] border-solid before:content-[""] before:absolute before:left-[-22px] before:w-[23px] before:h-5 before:bg-transparent before:shadow-[0px_-10px_0_0_white] dark:before:shadow-[0px_-10px_0_0_#111827] before:rounded-tr-[20px] before:top-[60%] after:content-[""] after:absolute after:right-[-22px] after:w-[23px] after:h-5 after:bg-transparent after:shadow-[0px_-10px_0_0_white] dark:after:shadow-[0px_-10px_0_0_#111827] after:rounded-tl-[20px] after:top-[60%];
  background: #26b4ec;
}

.navbar-root ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navbar-root ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navbar-root ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
