
@import url('https://fonts.googleapis.com/css2?family=Mirza&display=swap');

.App {
  text-align: center;
}
.navbar-root{
  padding: 2px 32px;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}
.navbar-heading > h1{
  font-family: 'Mirza', serif;
  font-size: 25px;
}

.funVerse-logo{
  min-width: 68px;
  min-height: 68px;
  margin-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
