input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ms-container {
    padding: 40px;
    font-weight: 100;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    place-items: center;
}

.ms-heading {
    font-size: 40px;
}

.ms-subheading {
    font-size: 30px;
}

.ms-number {
    font-size: 60px;
}

.button {
    border: solid 1px #000;
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: 400;
}

.button:hover {
    background-color: #000;
    color: white;
    cursor: pointer;
}



.grid-container {
    display: grid;
    margin: 20px auto;
    gap: 20px;
    aspect-ratio: 1/1;
    width: 25vw;
    grid-template-columns: repeat(3, 1fr);
}


.grid-cell {
    position: relative;
    padding: 10px;
    aspect-ratio: 1/1;
    border: 3px;
    border-style: solid;
    border-color: #000;
}

.grid-cell-focus {
    position: relative;
    border-style: solid;
    border-color: cadetblue;
}

.grid-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    color: cadetblue
}


.grid-cell:hover {
    border-color: cadetblue;
    cursor: pointer;
}

.three-col-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.each-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.rules {
    font-style: italic;
    width: 80%;
    margin: 0 auto;
}

input {
    border: solid 2px #000;
    aspect-ratio: 1/1;
    width: 50px;
    padding: 10px;
    outline: none;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}

hr {
    border: #ddd 1px solid;
    width: 100%;
}

.game-error {
    color: crimson;
    font-size: 50px;
}


.game-outcome {
    color: chartreuse;
    font-size: 50px;

}